[core]
    editor = vim
[user]
    name = tsmsogn
    email = tsmsogn@gmail.com
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[ghq]
    root = ~/go/src
